.charactreistics-section-1 .main_content-1, .catalog-section .main_content-1, .index-section-3 .main_content-3, .index-section-2 .main_content-2, .index-section-1 .main_content-1, .footer .main_content-4, .navbar-normal_sized-menu_block .navbar-normal_sized-menu_content, .navbar-normal_sized .navbar-main_block {
  width: 1140px;
  margin-right: calc((100% - 1140px)/2);
  margin-left: calc((100% - 1140px)/2);
  padding-right: 15px;
  padding-left: 15px;
}
@media only screen and (max-width: 1140px) {
  .charactreistics-section-1 .main_content-1, .catalog-section .main_content-1, .index-section-3 .main_content-3, .index-section-2 .main_content-2, .index-section-1 .main_content-1, .footer .main_content-4, .navbar-normal_sized-menu_block .navbar-normal_sized-menu_content, .navbar-normal_sized .navbar-main_block {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.catalog-section .main_content-1 .china-block .catalog-block-1 .table-align-block button:last-child, .catalog-section .main_content-1 .korea-block .catalog-block-1 .table-align-block button:last-child, .request_call .request_call-main_block .request_call-form button, .navbar-short_sized .navbar-short_sized-additional_content .navbar-order_call_button_block, .navbar-normal_sized .navbar-main_block .navbar-order_call_button_block {
  margin: 0 0 1px 0;
  background: #fbf5c8;
  background: radial-gradient(circle, #fbf5c8 0%, #d3ad6e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbf5c8",endColorstr="#d3ad6e",GradientType=1);
  color: #004E31;
  border-radius: 0 !important;
}

/*-------------------- COMMON HTML STYLES ---- COMMON HTML STYLES --------------------*/
/*-------------------- COMMON HTML STYLES ---- COMMON HTML STYLES --------------------*/
/*-------------------- COMMON HTML STYLES ---- COMMON HTML STYLES --------------------*/
* {
  margin: 0;
  padding: 0;
}

/*--------------------NAVBAR'S STYLE--------------------*/
.navbar-logo_block {
  cursor: pointer;
}

.footer-logo {
  cursor: pointer;
}

.sticked-to-top-menu {
  position: fixed !important;
  top: 0;
}

.nav-drill {
  display: none;
}
@media only screen and (max-width: 760px) {
  .nav-drill {
    display: flex;
  }
}

.catalog-dropdown {
  position: relative;
  text-align: center;
  border-right: 0 !important;
}
.catalog-dropdown .catalog-dropdown-item {
  display: none;
}
.catalog-dropdown a {
  z-index: 1010;
  display: block;
  background-color: #012211;
  text-decoration: none;
  border-bottom: 1px solid #D8BD86;
  color: #F9F9F7;
  padding: 5px 0;
  border-right: 2px solid #D8BD86;
  border-left: 2px solid #D8BD86;
}
.catalog-dropdown a:first-child {
  padding: 0;
  border: 0;
  background-color: transparent;
}
.catalog-dropdown a:last-child {
  border-bottom: 2px solid #D8BD86;
  border-radius: 0 0 5px 5px;
}
.catalog-dropdown a:hover {
  color: #D8BD86;
}
.catalog-dropdown a:nth-child(2) {
  margin-top: 6px;
}
@media only screen and (max-width: 1140px) {
  .catalog-dropdown a:nth-child(2) {
    margin-top: 12px;
  }
}

.menu-active-item {
  color: #D8BD86 !important;
}

.navbar-normal_sized {
  width: 100%;
  height: 112px;
  padding: 20px 0;
  background: url("../img/navbarBkg.jpg") 50% 50% no-repeat;
}
.navbar-normal_sized .navbar-main_block .navbar-logo_block {
  width: 253.44px;
  float: left;
  height: 72px;
}
.navbar-normal_sized .navbar-main_block .navbar-logo_block img {
  height: 100%;
  width: auto;
}
.navbar-normal_sized .navbar-main_block .navbar-order_call_button_block {
  width: 200px;
  height: 50px;
  float: right;
  border: 0;
  margin: calc((72px - 50px)/2) 0;
}
.navbar-normal_sized .navbar-main_block .navbar-order_call_button_block p {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}
.navbar-normal_sized .navbar-main_block .navbar-contacts_block {
  margin: calc((72px - 30px)/2) 0;
  float: right;
  width: calc(100% - 200px - 253.44px);
  height: 30px;
}
.navbar-normal_sized .navbar-main_block .navbar-contacts_block p {
  font-size: 20px;
  color: #F9F9F7;
  width: calc(100% / 2);
  margin: 0;
  float: left;
  padding-right: 20px;
  text-align: right;
}
.navbar-normal_sized .navbar-main_block .navbar-contacts_block p i {
  color: #D8BD86;
  font-size: 24px;
}
@media only screen and (max-width: 1140px) {
  .navbar-normal_sized .navbar-main_block .navbar-contacts_block {
    margin: calc((72px - 60px)/2) 0;
  }
  .navbar-normal_sized .navbar-main_block .navbar-contacts_block p {
    width: 100%;
  }
}
@media only screen and (max-width: 760px) {
  .navbar-normal_sized {
    display: none;
  }
}

.index-navbar-normal_sized-menu_block {
  background-color: rgba(1, 34, 17, 0.5) !important;
}

.index-catalog-dropdown a {
  background-color: rgba(1, 34, 17, 0.5) !important;
}
.index-catalog-dropdown a:first-child {
  background-color: transparent !important;
}

.navbar-normal_sized-menu_block {
  position: absolute;
  width: 100%;
  background-color: #012211;
  padding: 10px;
  height: 40px;
  z-index: 1010;
}
.navbar-normal_sized-menu_block .navbar-normal_sized-menu_content {
  padding: 0 40px;
}
.navbar-normal_sized-menu_block .navbar-normal_sized-menu_content .menu-item {
  text-align: center;
  text-transform: uppercase;
  color: #F9F9F7;
  float: left;
  width: 20%;
  border-right: 1px solid #D8BD86;
}
.navbar-normal_sized-menu_block .navbar-normal_sized-menu_content .menu-item:last-child {
  border: 0;
}
.navbar-normal_sized-menu_block .navbar-normal_sized-menu_content .menu-item:nth-child(3) {
  border-left: 1px solid #D8BD86;
}
.navbar-normal_sized-menu_block .navbar-normal_sized-menu_content .menu-item:hover {
  color: #D8BD86;
  text-decoration: none;
}
@media only screen and (max-width: 1140px) {
  .navbar-normal_sized-menu_block .navbar-normal_sized-menu_content {
    padding: 0;
  }
  .navbar-normal_sized-menu_block .navbar-normal_sized-menu_content .menu-item {
    font-size: 12px;
  }
}
@media only screen and (max-width: 760px) {
  .navbar-normal_sized-menu_block {
    display: none;
  }
}

.navbar-short_sized {
  display: none;
  padding: 14px 0;
  width: 100%;
  background: url("../img/navbarBkg.jpg") 50% 50% no-repeat;
}
.navbar-short_sized .dropdown-toggle::after {
  display: none;
}
.navbar-short_sized .navbar-short_sized-floor1 button {
  float: left;
  border: 0 !important;
  box-shadow: 0 0 0 0 !important;
  font-size: 50px;
  padding: 12px;
  padding-top: 0;
  height: calc(50px + 12px*2);
}
.navbar-short_sized .navbar-short_sized-floor1 button i {
  color: #D8BD86;
}
.navbar-short_sized .navbar-short_sized-floor1 .btn {
  position: fixed;
  z-index: 101;
  background-color: rgba(1, 34, 17, 0.4);
  border-radius: 4px;
}
.navbar-short_sized .navbar-short_sized-floor1 .mail {
  margin: 0 0 10px 0;
  float: right;
  width: calc(100% - 50px - 12px*2);
  font-size: 20px;
  color: #F9F9F7;
  padding-right: 20px;
  text-align: right;
}
.navbar-short_sized .navbar-short_sized-floor1 .mail i {
  color: #D8BD86;
  font-size: 24px;
}
.navbar-short_sized .navbar-short_sized-floor2 {
  padding-bottom: 20px;
}
.navbar-short_sized .navbar-short_sized-floor2 .navbar-logo_block {
  width: 290px;
  margin: 0 calc((100% - 290px)/2);
}
.navbar-short_sized .navbar-short_sized-floor2 .navbar-logo_block img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 500px) {
  .navbar-short_sized .navbar-short_sized-floor2 .navbar-logo_block {
    float: right;
    width: 220px;
    margin: 0 20px 15px 0;
  }
}
@media only screen and (max-width: 330px) {
  .navbar-short_sized .navbar-short_sized-floor2 .navbar-logo_block {
    float: right;
    width: 190px;
    margin: 0 20px 15px 0;
  }
}
@media only screen and (max-width: 500px) {
  .navbar-short_sized {
    padding: 28px 0;
  }
  .navbar-short_sized .navbar-short_sized-floor2 {
    height: 90px;
  }
}
.navbar-short_sized .navbar-short_sized-additional_content {
  position: relative;
  float: left;
  width: 100%;
}
.navbar-short_sized .navbar-short_sized-additional_content .navbar-order_call_button_block {
  width: 200px;
  height: 50px;
  float: right;
  border: 0;
  margin: 0 calc((100% - 200px)/2);
}
.navbar-short_sized .navbar-short_sized-additional_content .navbar-order_call_button_block p {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}
.navbar-short_sized .navbar-short_sized-additional_content .phone {
  margin: calc((74px - 30px)/2) 0;
  text-align: center;
  font-size: 20px;
  color: #F9F9F7;
}
.navbar-short_sized .navbar-short_sized-additional_content .phone i {
  color: #D8BD86;
  font-size: 24px;
}
.navbar-short_sized a {
  text-transform: uppercase;
}
@media only screen and (max-width: 760px) {
  .navbar-short_sized {
    display: block;
  }
}

/*----------------END OF NAVBAR'S STYLE--------------------*/
/*-----------------REQUEST CALL BLOCK'S STYLE-----------------*/
.request_call {
  position: fixed;
  display: none;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}
.request_call .request_call-main_block {
  height: 311px;
  width: 600px;
  margin: calc((100vh - 311px)/2 - 100px) calc((100% - 600px)/2);
  color: #004E31;
  font-weight: 600;
}
.request_call .request_call-main_block .request_call-info_bar {
  height: 40px;
  background-color: #004E31;
}
.request_call .request_call-main_block .request_call-info_bar .request_call-exit_button {
  height: 40px;
  width: 40px;
  float: right;
}
.request_call .request_call-main_block .request_call-info_bar .request_call-exit_button i {
  font-size: 30px;
  margin: calc((100% - 30px)/2);
  color: #F9F9F7;
}
.request_call .request_call-main_block .request_call-info_bar .request_call-exit_button i:hover {
  font-size: 32px;
  margin: calc((100% - 32px)/2);
}
.request_call .request_call-main_block .request_call-form {
  background-color: #F9F9F7;
  padding: 20px;
}
.request_call .request_call-main_block .request_call-form button {
  font-weight: 600;
  color: #004E31;
  border: 0 solid black;
}
@media only screen and (max-width: 640px) {
  .request_call .request_call-main_block {
    width: calc(100% - 30px);
    margin-left: 15px;
  }
}

/*-----------------REQUEST CALL BLOCK'S STYLE-----------------*/
/*-----------------FOOTER STYLE----------------------*/
.footer {
  height: 150px;
  background: url("../img/footerBkg.jpg") 50% 50%;
}
@media only screen and (max-width: 650px) {
  .footer {
    height: auto;
  }
}
.footer .main_content-4 {
  color: #F9F9F7;
}
.footer .main_content-4 .footer-sector-1 {
  float: left;
  width: 250px;
}
.footer .main_content-4 .footer-sector-1 .footer-logo {
  padding: 20px;
}
.footer .main_content-4 .footer-sector-1 .footer-logo img {
  width: 100%;
  height: auto;
}
.footer .main_content-4 .footer-sector-1 p {
  font-size: 12px;
}
.footer .main_content-4 .footer-sector-2 {
  float: right;
  width: calc(100% - 250px - 200px);
  padding: 0 calc((100% - 250px - 200px - 500px)/2);
  margin-top: 40px;
}
.footer .main_content-4 .footer-sector-2 .footer-menu-item {
  display: block;
  float: left;
  font-size: 14px;
  width: 18%;
  color: #F9F9F7;
  text-align: center;
}
.footer .main_content-4 .footer-sector-2 .footer-menu-item:nth-child(2) {
  width: 28%;
}
.footer .main_content-4 .footer-sector-2 .footer-menu-item:hover {
  text-decoration: none;
  color: #D8BD86;
}
.footer .main_content-4 .footer-sector-3 {
  margin-top: 20px;
  float: right;
  width: 200px;
}
.footer .main_content-4 .footer-sector-3 p {
  text-align: center;
  margin: 0;
}
.footer .main_content-4 .footer-sector-3 .footer-socials div {
  font-size: 25px;
  float: left;
  width: 35px;
  height: 35px;
  padding: 5px;
  margin: calc((20% - 35px)/2);
  border-radius: 50%;
}
.footer .main_content-4 .footer-sector-3 .footer-socials div i {
  display: block;
  text-align: center;
  width: 25px;
  height: 25px;
}
@media only screen and (max-width: 1050px) {
  .footer .main_content-4 .footer-sector-2 {
    margin-top: 20px;
  }
  .footer .main_content-4 .footer-sector-2 .footer-menu-item {
    width: 100% !important;
  }
}
@media only screen and (max-width: 650px) {
  .footer .main_content-4 {
    text-align: center;
  }
  .footer .main_content-4 .footer-sector-1 {
    padding: 20px 0;
    float: none;
    margin: 0 calc((100% - 250px)/2);
  }
  .footer .main_content-4 .footer-sector-2 {
    float: none;
    width: 100%;
    padding: 0 calc((100% - 250px - 200px - 500px)/2);
    padding-top: 40px;
  }
  .footer .main_content-4 .footer-sector-2 .footer-menu-item {
    display: block;
    float: none;
    font-size: 14px;
    width: 100%;
    color: #F9F9F7;
    text-align: center;
  }
  .footer .main_content-4 .footer-sector-3 {
    padding-top: 20px;
    float: none;
    margin: 0 calc((100% - 200px)/2);
  }
}

/*-----------------END OF FOOTER STYLE----------------------*/
/*-------------------- END OF COMMON HTML STYLES ---- END OF COMMON HTML STYLES --------------------*/
/*-------------------- END OF COMMON HTML STYLES ---- END OF COMMON HTML STYLES --------------------*/
/*-------------------- END OF COMMON HTML STYLES ---- END OF COMMON HTML STYLES --------------------*/
/*-------------------- INDEX HTML STYLES ---- INDEX HTML STYLES --------------------*/
/*-------------------- INDEX HTML STYLES ---- INDEX HTML STYLES --------------------*/
/*-------------------- INDEX HTML STYLES ---- INDEX HTML STYLES --------------------*/
/*--------------------SECTION 1 STYLE----------------------*/
.index-section-1 {
  background: url("../img/headerBkg.jpg") 50% 50% no-repeat;
  height: 550px;
}
.index-section-1 .main_content-1 {
  width: 550px;
  margin: 0 calc((100% - 550px)/2);
}
.index-section-1 .main_content-1 h1 {
  width: 100%;
  padding-top: 150px;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #F9F9F7;
  text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.7);
}
.index-section-1 .main_content-1 button {
  float: left;
  width: calc(50% - 40px);
  margin: 20px;
  height: 40px;
  background: #fbf5c8;
  background: radial-gradient(circle, #fbf5c8 0%, #d3ad6e 100%);
  color: #004E31;
  border: 0 !important;
  text-transform: uppercase;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.96);
  transition: 0.15s box-shadow;
  border-radius: 0 !important;
}
.index-section-1 .main_content-1 button:active {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.66);
  transition: 0.15s box-shadow;
}
.index-section-1 .main_content-1 button:last-child {
  background: #004E31;
  color: #D8BD86;
}
@media only screen and (max-width: 550px) {
  .index-section-1 .main_content-1 {
    width: 100%;
    margin: 0;
  }
  .index-section-1 .main_content-1 h1 {
    font-size: 28px;
    padding-top: 190px;
  }
  .index-section-1 .main_content-1 button {
    width: 180px;
    margin: 5px calc((100% - 180px)/2);
  }
}
@media only screen and (max-width: 390px) {
  .index-section-1 .main_content-1 h1 {
    font-size: 24px;
  }
}

/*-----------------END OF SECTION 1 STYLE----------------------*/
/*-----------------SECTION 2 STYLE----------------------*/
.index-section-2 {
  margin: 80px 0;
}
.index-section-2 .main_content-2 h2 {
  float: left;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 50px;
  width: 760px;
}
.index-section-2 .main_content-2 .aftertext_line {
  position: relative;
  top: 17px;
  float: left;
  height: 3px;
  background-color: #000;
  width: calc(100% - 760px);
}
.index-section-2 .main_content-2 .grid {
  height: calc((200px + 20px) * (6/3));
}
.index-section-2 .main_content-2 .grid .grid-item {
  float: left;
  width: calc(100% / 3 - 20px);
  margin: 10px;
  height: 200px;
}
.index-section-2 .main_content-2 .grid .grid-item img {
  float: left;
  width: 80px;
  height: auto;
}
.index-section-2 .main_content-2 .grid .grid-item .grid-item-text {
  float: left;
  width: calc(100% - 80px);
}
.index-section-2 .main_content-2 .grid .grid-item .grid-item-text p {
  padding-left: 10px;
  width: 100%;
  line-height: 1.3;
}
@media only screen and (max-width: 1140px) {
  .index-section-2 .main_content-2 .grid {
    height: calc((140px + 20px) * (6/2));
  }
  .index-section-2 .main_content-2 .grid .grid-item {
    width: calc(100%/2 - 20px);
    height: 140px;
  }
}
@media only screen and (max-width: 800px) {
  .index-section-2 .main_content-2 {
    height: auto;
  }
  .index-section-2 .main_content-2 h2 {
    float: none;
    width: 100%;
    text-align: center;
  }
  .index-section-2 .main_content-2 .aftertext_line {
    display: none;
  }
}
@media only screen and (max-width: 630px) {
  .index-section-2 .main_content-2 h2 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .index-section-2 .main_content-2 .grid {
    height: calc((80px + 20px) * (6/1));
  }
  .index-section-2 .main_content-2 .grid .grid-item {
    width: calc(100%/1 - 20px);
    height: 80px;
  }
  .index-section-2 .main_content-2 .grid .grid-item img {
    width: 60px;
    height: auto;
  }
  .index-section-2 .main_content-2 .grid .grid-item .grid-item-text {
    width: calc(100% - 60px);
  }
  .index-section-2 .main_content-2 .grid .grid-item .grid-item-text p {
    font-size: 14px;
    line-height: 1.1;
  }
}
@media only screen and (max-width: 440px) {
  .index-section-2 .main_content-2 h2 {
    font-size: 24px;
  }
  .index-section-2 .main_content-2 .grid {
    height: calc((120px + 20px) * (6/1));
  }
  .index-section-2 .main_content-2 .grid .grid-item {
    width: calc(100%/1 - 20px);
    height: 120px;
  }
  .index-section-2 .main_content-2 .grid .grid-item p {
    font-size: 12px;
  }
}

/*-----------------END OF SECTION 2 STYLE----------------------*/
/*-----------------SECTION 3 STYLE----------------------*/
.index-section-3 {
  margin: 80px 0 0 0;
  background: url("../img/catalogBkg.jpg") 50% 50%;
}
@media only screen and (max-width: 650px) {
  .index-section-3 {
    background: #BFCFC9;
  }
}
.index-section-3 .main_content-3 .index-section-3-header {
  padding-top: 50px;
  height: 150px;
}
.index-section-3 .main_content-3 .index-section-3-header h2 {
  float: left;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 50px;
  width: 400px;
}
.index-section-3 .main_content-3 .index-section-3-header .aftertext_line {
  position: relative;
  top: 17px;
  float: left;
  height: 3px;
  background-color: #000;
  width: calc(100% - 400px);
}
.index-section-3 .main_content-3 .grid {
  height: calc( (270px + 20px) * (8/4));
}
.index-section-3 .main_content-3 .grid .grid-item {
  float: left;
  width: calc(100% / 4 - 20px);
  margin: 10px;
  height: 250px;
}
.index-section-3 .main_content-3 .grid .grid-item:hover {
  text-decoration: none;
}
.index-section-3 .main_content-3 .grid .grid-item:hover .grid-item-img {
  height: calc(200px - 20px);
  transition: 0.4s height ease;
}
.index-section-3 .main_content-3 .grid .grid-item:hover .grid-item-name {
  height: 70px;
  transition: 0.4s height ease;
}
.index-section-3 .main_content-3 .grid .grid-item:hover .grid-item-name h3 {
  font-size: 38px;
  transition: 0.4s font-size ease;
}
.index-section-3 .main_content-3 .grid .grid-item .grid-item-img {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.index-section-3 .main_content-3 .grid .grid-item .grid-item-img img {
  height: 100%;
  width: auto;
  position: relative;
  z-index: 0;
  left: calc((100% - 200px*1.7)/2);
}
.index-section-3 .main_content-3 .grid .grid-item .grid-item-name {
  width: 100%;
  height: 50px;
  background-color: #004E31;
}
.index-section-3 .main_content-3 .grid .grid-item .grid-item-name h3 {
  padding: 7px 0;
  font-size: 30px;
  color: #F9F9F7;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 1140px) {
  .index-section-3 .main_content-3 .grid {
    height: calc( (270px + 20px) * (8/2));
  }
  .index-section-3 .main_content-3 .grid .grid-item {
    width: calc(100% / 2 - 20px);
    padding: 0 calc((100% / 2 - 20px - 320px)/2);
  }
  .index-section-3 .main_content-3 .grid .grid-item:hover img {
    left: 0;
    transition: 0.4s left ease;
  }
  .index-section-3 .main_content-3 .grid .grid-item .grid-item-img {
    height: 200px;
    width: 100%;
    overflow: hidden;
  }
  .index-section-3 .main_content-3 .grid .grid-item .grid-item-img img {
    height: 100%;
    width: auto;
  }
}
@media only screen and (max-width: 650px) {
  .index-section-3 .main_content-3 .index-section-3-header h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }
  .index-section-3 .main_content-3 .index-section-3-header .aftertext_line {
    display: none;
  }
  .index-section-3 .main_content-3 .grid {
    height: calc( (270px + 20px) * (8/1));
  }
  .index-section-3 .main_content-3 .grid .grid-item {
    width: calc(100% / 1 - 20px);
    padding: 0 calc((100% / 1 - 20px - 320px)/2);
  }
  .index-section-3 .main_content-3 .grid .grid-item .grid-item-img {
    height: 200px;
    width: 100%;
    overflow: hidden;
  }
  .index-section-3 .main_content-3 .grid .grid-item .grid-item-img img {
    height: 100%;
    width: auto;
  }
}

/*-----------------END OF SECTION 3 STYLE----------------------*/
/*-------------------- END OF INDEX HTML STYLES ---- END OF INDEX HTML STYLES --------------------*/
/*-------------------- END OF INDEX HTML STYLES ---- END OF INDEX HTML STYLES --------------------*/
/*-------------------- END OF INDEX HTML STYLES ---- END OF INDEX HTML STYLES --------------------*/
/*-------------------- CATALOG HTML STYLES ---- CATALOG HTML STYLES --------------------*/
/*-------------------- CATALOG HTML STYLES ---- CATALOG HTML STYLES --------------------*/
/*-------------------- CATALOG HTML STYLES ---- CATALOG HTML STYLES --------------------*/
#colored-row th {
  background-color: #FEFDE1;
}
#colored-row td {
  background-color: #FEFDE1;
}

.table-header-line th {
  border-bottom: 1px solid #7AA696 !important;
}
.table-header-line td {
  border-bottom: 1px solid #7AA696 !important;
}

.table-header-line-solo {
  border-bottom: 1px solid #7AA696 !important;
}

.table-divisor-line-solo {
  border-bottom: 1px solid #FBEBAD !important;
}

.image-change-animation-class {
  animation: image-change-animation 0.4s ease;
}

.zoom_image_block {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.zoom_image_block .zoom_image_block-align {
  position: fixed;
  width: 600px;
  height: 600px;
  top: calc((100% - 600px)/2);
  left: calc((100% - 600px)/2);
}
.zoom_image_block .zoom_image_block-align img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 640px) {
  .zoom_image_block .zoom_image_block-align {
    top: 20%;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
  }
}

.table_image {
  padding: 5px;
}

.active-switch_manufacturer_button-normal {
  background-color: #F9F9F7;
  color: #004E31;
}
.active-switch_manufacturer_button-normal i {
  transform: rotate(0deg);
  transition: 0.3s all ease;
}

.inactive-switch_manufacturer_button-normal {
  background-color: #004E31;
  color: #F9F9F7;
}
.inactive-switch_manufacturer_button-normal i {
  transform: rotate(-90deg);
}
.inactive-switch_manufacturer_button-normal:hover {
  color: #D8BD86 !important;
}
.inactive-switch_manufacturer_button-normal:hover i {
  transform: rotate(0deg);
  transition: 0.3s transform ease;
}

.active-switch_manufacturer_button-small {
  background-color: #F9F9F7;
  color: #004E31;
  font-weight: 600;
}
.active-switch_manufacturer_button-small i {
  transform: rotate(0deg);
  transition: 0.3s all ease;
}
.active-switch_manufacturer_button-small:hover {
  color: #D8BD86 !important;
}
.active-switch_manufacturer_button-small:hover i {
  transform: rotate(180deg);
  transition: 0.3s transform ease;
}

.inactive-switch_manufacturer_button-small {
  display: none;
}

.catalog-section .main_content-1 {
  padding: 0;
}
.catalog-section .main_content-1 h1 {
  margin: 60px 0 40px 0;
}
.catalog-section .main_content-1 .manufacturer_switch-small {
  padding-bottom: 10px;
  display: none;
  margin: 10px 0;
  background-color: #F9F9F7;
}
.catalog-section .main_content-1 .manufacturer_switch-small div {
  border: 2px solid #004E31;
  border-bottom: 0;
  font-weight: 600;
  text-align: center;
  font-size: 26px;
}
.catalog-section .main_content-1 .manufacturer_switch-small div p {
  margin: 0;
}
.catalog-section .main_content-1 .manufacturer_switch-normal {
  height: 45px;
  border-top: 2px solid #004E31;
}
.catalog-section .main_content-1 .manufacturer_switch-normal div {
  cursor: pointer;
  float: left;
  font-weight: 600;
  width: 50%;
  text-align: center;
  font-size: 30px;
}
.catalog-section .main_content-1 .manufacturer_switch-normal div p {
  margin: 0;
}
@media only screen and (max-width: 650px) {
  .catalog-section .main_content-1 .manufacturer_switch-normal {
    display: none;
  }
  .catalog-section .main_content-1 .manufacturer_switch-small {
    display: block;
  }
}
.catalog-section .main_content-1 .korea-block {
  border-bottom: 2px solid #004E31;
  background-color: #F9F9F7;
  padding: 15px;
  /*@media only screen and (max-width: 600px)
  * .table-align-block-small
  * display: block!important
  * .table-align-block-normal
  * display: none!important*/
}
.catalog-section .main_content-1 .korea-block .catalog-block-1 .table-align-block {
  float: right;
  width: calc(100% - 270px - 20px);
  margin-right: 20px;
}
.catalog-section .main_content-1 .korea-block .catalog-block-1 .table-align-block table {
  width: 100%;
  border: 2px ridge #004E31;
  border-left: 0;
  border-right: 0;
  background-color: #F9F9F7;
}
.catalog-section .main_content-1 .korea-block .catalog-block-1 .table-align-block table .even_tr {
  background-color: #FEFDE1;
}
.catalog-section .main_content-1 .korea-block .catalog-block-1 .table-align-block table th {
  padding: 5px 10px;
}
.catalog-section .main_content-1 .korea-block .catalog-block-1 .table-align-block table th:first-child {
  border-right: 1px solid #D8BD86;
}
.catalog-section .main_content-1 .korea-block .catalog-block-1 .table-align-block table th:last-child {
  font-weight: 400;
}
.catalog-section .main_content-1 .korea-block .catalog-block-1 .table-align-block button {
  margin: 20px 5px;
  border: 0;
  height: 40px;
  font-size: 22px;
  padding: 0 20px;
  background-color: #004E31;
  color: #D8BD86;
}
.catalog-section .main_content-1 .korea-block .catalog-block-1 .table-align-block button:last-child {
  color: #004E31;
}
.catalog-section .main_content-1 .korea-block .catalog-block-1 .image-block {
  width: 270px;
  float: right;
  height: 380px;
}
.catalog-section .main_content-1 .korea-block .catalog-block-1 .image-block .big-picture {
  cursor: zoom-in;
  width: 270px;
  height: 270px;
  padding: 5px;
  padding-top: 0;
}
.catalog-section .main_content-1 .korea-block .catalog-block-1 .image-block .big-picture img {
  width: 100%;
  height: auto;
  border: 1px solid #004E31;
}
.catalog-section .main_content-1 .korea-block .catalog-block-1 .image-block .small-picture {
  cursor: pointer;
  float: left;
  width: calc(90px);
  height: calc(90px);
  padding: 5px;
}
.catalog-section .main_content-1 .korea-block .catalog-block-1 .image-block .small-picture img {
  width: 100%;
  height: auto;
  border: 1px solid #004E31;
}
@media only screen and (max-width: 690px) {
  .catalog-section .main_content-1 .korea-block .catalog-block-1 .table-align-block {
    float: none;
    width: 100%;
    margin-right: 0px;
  }
  .catalog-section .main_content-1 .korea-block .catalog-block-1 .table-align-block button {
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
  }
  .catalog-section .main_content-1 .korea-block .catalog-block-1 .image-block {
    float: none;
    width: 270px;
    margin: 0 calc((100% - 270px)/2);
  }
}
.catalog-section .main_content-1 .korea-block .catalog-block-2 .table-align-block-normal {
  margin: 40px 0;
}
.catalog-section .main_content-1 .korea-block .catalog-block-2 .table-align-block-normal table {
  border: 2px ridge #004E31;
  border-right: 0;
  border-left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.catalog-section .main_content-1 .korea-block .catalog-block-2 .table-align-block-normal table tr:first-child th {
  border-bottom: 1px solid #7AA696;
  font-weight: 600;
}
.catalog-section .main_content-1 .korea-block .catalog-block-2 .table-align-block-normal table tr:first-child td {
  border-bottom: 1px solid #7AA696;
  font-weight: 600;
}
.catalog-section .main_content-1 .korea-block .catalog-block-2 .table-align-block-normal table tr td {
  border-right: 1px solid #FBEBAD;
}
.catalog-section .main_content-1 .korea-block .catalog-block-2 .table-align-block-normal table tr td:last-child {
  border-right: 0;
}
.catalog-section .main_content-1 .korea-block .catalog-block-2 .table-align-block-small {
  display: none;
}
.catalog-section .main_content-1 .korea-block .catalog-block-2 .table-align-block-small table {
  margin: 20px 0;
  border: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  background-color: #F9F9F7;
}
.catalog-section .main_content-1 .korea-block .catalog-block-2 .table-align-block-small table .odd_row {
  background-color: #FEFDE1;
}
.catalog-section .main_content-1 .korea-block .catalog-block-2 .table-align-block-small table th {
  border-right: 1px solid #D8BD86;
}
.catalog-section .main_content-1 .korea-block .catalog-block-2 .table-align-block-small table .splitted_td {
  border-right: 1px solid lightgrey;
}
.catalog-section .main_content-1 .korea-block .catalog-block-2 .table-align-block-small table td {
  display: flex;
  justify-content: center;
}
.catalog-section .main_content-1 .china-block {
  display: none;
  border-bottom: 2px solid #004E31;
  background-color: #F9F9F7;
  padding: 15px;
}
.catalog-section .main_content-1 .china-block .catalog-block-1 .table-align-block {
  float: right;
  width: calc(100% - 270px - 20px);
  margin-right: 20px;
}
.catalog-section .main_content-1 .china-block .catalog-block-1 .table-align-block table {
  width: 100%;
  border: 2px ridge #004E31;
  border-left: 0;
  border-right: 0;
  background-color: #F9F9F7;
}
.catalog-section .main_content-1 .china-block .catalog-block-1 .table-align-block table .even_tr {
  background-color: #FEFDE1;
}
.catalog-section .main_content-1 .china-block .catalog-block-1 .table-align-block table th {
  padding: 5px 10px;
}
.catalog-section .main_content-1 .china-block .catalog-block-1 .table-align-block table th:first-child {
  border-right: 1px solid #D8BD86;
}
.catalog-section .main_content-1 .china-block .catalog-block-1 .table-align-block table th:last-child {
  font-weight: 400;
}
.catalog-section .main_content-1 .china-block .catalog-block-1 .table-align-block button {
  margin: 20px 5px;
  border: 0;
  height: 40px;
  font-size: 22px;
  padding: 0 20px;
  background-color: #004E31;
  color: #D8BD86;
}
.catalog-section .main_content-1 .china-block .catalog-block-1 .table-align-block button:last-child {
  color: #004E31;
}
.catalog-section .main_content-1 .china-block .catalog-block-1 .image-block {
  width: 270px;
  float: right;
  height: 380px;
}
.catalog-section .main_content-1 .china-block .catalog-block-1 .image-block .big-picture {
  width: 270px;
  height: 270px;
  padding: 5px;
  padding-top: 0;
}
.catalog-section .main_content-1 .china-block .catalog-block-1 .image-block .big-picture img {
  width: 100%;
  height: auto;
  border: 1px solid #004E31;
}
.catalog-section .main_content-1 .china-block .catalog-block-1 .image-block .small-picture {
  float: left;
  width: calc(90px);
  height: calc(90px);
  padding: 5px;
}
.catalog-section .main_content-1 .china-block .catalog-block-1 .image-block .small-picture img {
  width: 100%;
  height: auto;
  border: 1px solid #004E31;
}
@media only screen and (max-width: 690px) {
  .catalog-section .main_content-1 .china-block .catalog-block-1 .table-align-block {
    float: none;
    width: 100%;
    margin-right: 0px;
  }
  .catalog-section .main_content-1 .china-block .catalog-block-1 .table-align-block button {
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
  }
  .catalog-section .main_content-1 .china-block .catalog-block-1 .image-block {
    float: none;
    width: 270px;
    margin: 0 calc((100% - 270px)/2);
  }
}
.catalog-section .main_content-1 .china-block .catalog-block-2 {
  /*.table-align-block-small
  * display: none
  * table
  * margin: 20px 0
  * border: 0
  * width: 100%
  * text-align: center
  * font-size: 14px
  * background-color: $mainWhiteColor
  * .odd_row
  * background-color: $mainTableBackgroundColor
  * th
  * border-right: 1px solid $mainGoldColor
  * .splitted_td
  * border-right: 1px solid lightgrey
  * td
  * display: flex
  * justify-content: center*/
}
.catalog-section .main_content-1 .china-block .catalog-block-2 .table-align-block-normal {
  margin: 40px 0 0 0;
}
.catalog-section .main_content-1 .china-block .catalog-block-2 .table-align-block-normal table {
  font-size: 16px;
  width: 100%;
  border: 2px ridge #004E31;
  border-left: 0;
  border-right: 0;
  text-align: center;
}
.catalog-section .main_content-1 .china-block .catalog-block-2 .table-align-block-normal table tr th, .catalog-section .main_content-1 .china-block .catalog-block-2 .table-align-block-normal table tr td {
  padding: 3px;
  border-right: 1px solid #FBEBAD;
}
.catalog-section .main_content-1 .china-block .catalog-block-2 .table-align-block-normal table tr th:last-child, .catalog-section .main_content-1 .china-block .catalog-block-2 .table-align-block-normal table tr td:last-child {
  border-right: 0;
}
.catalog-section .main_content-1 .china-block .catalog-block-2 .table-align-block-normal table tr td {
  padding: 3px;
}
.catalog-section .main_content-1 .china-block .catalog-block-2 .table-align-block-normal table tr:nth-child(odd) {
  background-color: #FEFDE1;
}
.catalog-section .main_content-1 .china-block .catalog-block-2 p {
  font-size: 14px;
}
.catalog-section .main_content-1 .size-table .size-table-normal {
  font-size: 14px;
  width: 100%;
  border: 2px ridge #004E31;
  border-left: 0;
  border-right: 0;
  text-align: center;
  margin: 30px 0;
}
.catalog-section .main_content-1 .size-table .size-table-normal tr:first-child {
  background-color: #FEFDE1;
}
.catalog-section .main_content-1 .size-table .size-table-normal tr th {
  padding: 7px 0;
  border-right: 1px solid #D8BD86;
}
.catalog-section .main_content-1 .size-table .size-table-normal tr th:last-child {
  border-right: 0;
}
.catalog-section .main_content-1 .size-table .size-table-normal tr th:first-child {
  border-right: 1px solid #004E31;
}
.catalog-section .main_content-1 .size-table .size-table-normal tr td {
  padding: 5px 0;
  border-right: 1px solid #D8BD86;
}
.catalog-section .main_content-1 .size-table .size-table-normal tr td:last-child {
  border-right: 0;
}
.catalog-section .main_content-1 .size-table .size-table-small {
  display: none;
  font-size: 14px;
  width: 100%;
  border-bottom: 2px solid #D8BD86;
  text-align: center;
  margin: 30px 0;
}
.catalog-section .main_content-1 .size-table .size-table-small .odd_row {
  background-color: #FEFDE1;
}
.catalog-section .main_content-1 .size-table .size-table-small tr {
  width: 100%;
}
.catalog-section .main_content-1 .size-table .size-table-small tr th {
  border-right: 1px solid #D8BD86;
}
.catalog-section .main_content-1 .size-table .size-table-small tr:first-child {
  border-bottom: 1px solid #D8BD86;
}
.catalog-section .main_content-1 .size-table .size-table-small tr:first-child th:first-child {
  border-right: 0;
}
@media only screen and (max-width: 800px) {
  .catalog-section .main_content-1 .size-table .size-table-normal {
    display: none;
  }
  .catalog-section .main_content-1 .size-table .size-table-small {
    display: table;
  }
}
@media only screen and (max-width: 650px) {
  .catalog-section .main_content-1 #korea-block {
    display: block;
    border-bottom: 0;
    padding-bottom: 50px;
  }
  .catalog-section .main_content-1 #china-block {
    display: block;
  }
  .catalog-section .main_content-1 #china-block h2 {
    display: none;
  }
  .catalog-section .main_content-1 #china-block .catalog-block-1 .image-block {
    display: none;
  }
}

@keyframes image-change-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*-------------------- END OF CATALOG HTML STYLES ---- END OF CATALOG HTML STYLES --------------------*/
/*-------------------- END OF CATALOG HTML STYLES ---- END OF CATALOG HTML STYLES --------------------*/
/*-------------------- END OF CATALOG HTML STYLES ---- END OF CATALOG HTML STYLES --------------------*/
/*-------------------- CHARACTERISTICS HTML STYLES ---- CHARACTERISTICS HTML STYLES --------------------*/
/*-------------------- CHARACTERISTICS HTML STYLES ---- CHARACTERISTICS HTML STYLES --------------------*/
/*-------------------- CHARACTERISTICS HTML STYLES ---- CHARACTERISTICS HTML STYLES --------------------*/
.charactreistics-section-1 .main_content-1 h2:first-child {
  margin: 100px 0 30px 0;
}
.charactreistics-section-1 .main_content-1 table {
  width: 100%;
  border: 2px solid #004E31;
  border-left: 0;
  border-right: 0;
  background-color: #F9F9F7;
}
.charactreistics-section-1 .main_content-1 .table-1 {
  margin-bottom: 40px;
}
.charactreistics-section-1 .main_content-1 .table-1 tr:nth-child(odd) {
  background-color: #FEFDE1;
}
.charactreistics-section-1 .main_content-1 .table-1 tr td {
  padding: 5px 20px;
}
.charactreistics-section-1 .main_content-1 .table-1 tr th {
  font-weight: 500;
  padding: 5px 20px;
  border-right: 1px solid #FBEBAD;
}
.charactreistics-section-1 .main_content-1 .table-2 {
  margin-bottom: 40px;
  font-size: 14px;
  text-align: center;
}
.charactreistics-section-1 .main_content-1 .table-2 tr th {
  font-weight: 500;
  padding: 3px 5px;
  border-right: 1px solid #FBEBAD;
  border-top: 1px solid #FBEBAD;
}
.charactreistics-section-1 .main_content-1 .table-2 tr th:last-child {
  border-right: 0;
}
.charactreistics-section-1 .main_content-1 .table-2 .newrow th {
  border-top: 0;
}
.charactreistics-section-1 .main_content-1 .table-2 .paint_row {
  background-color: #FEFDE1;
}
.charactreistics-section-1 .main_content-1 .table-3 {
  margin-bottom: 40px;
  font-size: 14px;
}
.charactreistics-section-1 .main_content-1 .table-3 tr th {
  font-weight: 500;
  padding: 7px 16px;
  border-right: 1px solid #FBEBAD;
}
.charactreistics-section-1 .main_content-1 .table-3 tr th:last-child {
  border-right: 0;
}
.charactreistics-section-1 .main_content-1 .table-3 tr:first-child {
  border-bottom: 1px solid #6B977A;
}
.charactreistics-section-1 .main_content-1 .table-3 tr:nth-child(odd) {
  background-color: #FEFDE1;
}
.charactreistics-section-1 .main_content-1 .table-4 {
  margin-bottom: 20px;
  font-size: 15px;
  text-align: center;
}
.charactreistics-section-1 .main_content-1 .table-4 tr td {
  font-weight: 500;
  padding: 3px 16px;
  border-right: 1px solid #FBEBAD;
}
.charactreistics-section-1 .main_content-1 .table-4 tr td:last-child {
  border-right: 0;
}
.charactreistics-section-1 .main_content-1 .table-4 tr:first-child {
  border-bottom: 2px solid #7FAB9B;
}
.charactreistics-section-1 .main_content-1 .table-4 tr:first-child td {
  padding: 12px 16px;
}
.charactreistics-section-1 .main_content-1 .table-4 tr:nth-child(2) td {
  padding-top: 14px;
}
.charactreistics-section-1 .main_content-1 .table-4 tr:nth-child(odd) {
  background-color: #FEFDE1;
}
.charactreistics-section-1 .main_content-1 p {
  margin-bottom: 40px;
}
.charactreistics-section-1 .main_content-1 .table-5 {
  margin-bottom: 20px;
  font-size: 15px;
  text-align: center;
}
.charactreistics-section-1 .main_content-1 .table-5 tr td {
  font-weight: 500;
  padding: 3px 16px;
  border-right: 1px solid #FBEBAD;
}
.charactreistics-section-1 .main_content-1 .table-5 tr td:last-child {
  border-right: 0;
}
.charactreistics-section-1 .main_content-1 .table-5 tr:first-child {
  border-bottom: 2px solid #7FAB9B;
}
.charactreistics-section-1 .main_content-1 .table-5 tr:first-child td {
  padding: 12px 16px;
}
.charactreistics-section-1 .main_content-1 .table-5 tr:nth-child(2) td {
  padding-top: 14px;
}
.charactreistics-section-1 .main_content-1 .table-5 tr:nth-child(odd) {
  background-color: #FEFDE1;
}

/*----------------- END OF CHARACTERISTICS HTML STYLES ---- END OF CHARACTERISTICS HTML STYLES -----------------*/
/*----------------- END OF CHARACTERISTICS HTML STYLES ---- END OF CHARACTERISTICS HTML STYLES -----------------*/
/*----------------- END OF CHARACTERISTICS HTML STYLES ---- END OF CHARACTERISTICS HTML STYLES -----------------*/
a {
  cursor: pointer;
}